html {
    overflow-x: hidden;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Nunito', sans-serif;
    color: #222222;
}

::-moz-selection, ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #cccccc;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

#map {
    width: 100%;
    height: 350px;
}

.browserupgrade {
    margin: .2em 0;
    padding: .2em 0;
    color: #000000;
    background: #cccccc;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
            clip-path: inset(50%);

    -webkit-clip-path: inset(50%);
    &.focusable {
        &:active, &:focus {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            white-space: inherit;
            clip: auto;
                    clip-path: none;

            -webkit-clip-path: none;
        }
    }
}

.invisible {
    visibility: hidden;
}

.clearfix {
    &:before {
        content: ' ';
        display: table;
    }
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

@media only screen and (min-width: 35em) {
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
}

@media print {
    * {
        color: #000000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
        &:before, &:after {
            color: #000000 !important;
            text-shadow: none !important;
            background: transparent !important;
            box-shadow: none !important;
        }
    }
    a {
        text-decoration: underline;
        &:visited {
            text-decoration: underline;
        }
        &[href]:after {
            content: ' (' attr(href) ')';
        }
    }
    abbr[title]:after {
        content: ' (' attr(title) ')';
    }
    a {
        &[href^='#']:after, &[href^='javascript:']:after {
            content: '';
        }
    }
    pre {
        white-space: pre-wrap !important;
        page-break-inside: avoid;
        border: 1px solid #999999;
    }
    blockquote {
        page-break-inside: avoid;
        border: 1px solid #999999;
    }
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
